
.container {
  display: flex;
  height: 100vh;
  width: 100vw;

  background-color: white;
  opacity: 0.3;

  justify-content: center;
  align-items: center;

  z-index: 10;
}

.loader {
	height: 64px;
	width: 64px;
	-webkit-animation: loader 4.8s linear infinite;
	        animation: loader 4.8s linear infinite;
}

.animation {
  display: block;
  position: absolute;
  top: 0; left: 0;
  bottom: 0; right: 0;
  margin: auto;
  height: 64px;
  width: 64px;
  clip: rect(0, 32px, 32px, 16px);
  -webkit-animation: loader-1-2 1.2s linear infinite;
          animation: loader-1-2 1.2s linear infinite;
}

@-webkit-keyframes loader {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes loader {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
